<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>视酷后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a>首页</a>
            <a><cite>群组管理</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="name" id="toomName" placeholder="群组名称" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="userSize" id="userSize" placeholder="显示超出此人数的群组" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <div class="layui-btn" lay-filter="button" id="do_search"><i
                                    class="layui-icon">&#xe615;</i></div>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn" onclick="xadmin.open('添加群组','/room-add.html',600,300)"><i
                            class="layui-icon"></i>添加群组
                    </button>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-hide" id="roomTable" lay-filter="demo"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="groupchat">聊天记录</a>
    <a class="layui-btn layui-btn-xs" lay-event="usermanager">成员管理</a>
    <a class="layui-btn layui-btn-xs" lay-event="gameRule">游戏规则</a>
    <a class="layui-btn layui-btn-xs" lay-event="luckyAward">幸运奖</a>
    <a class="layui-btn layui-btn-xs" lay-event="manyAward">多雷奖励</a>
    <a class="layui-btn layui-btn-xs" lay-event="robot">机器人</a>
    <a class="layui-btn layui-btn-xs" lay-event="agent">代理</a>
    <a class="layui-btn layui-btn-xs" lay-event="playerFlow">玩家流水</a>
    {{#  if(d.redPacketLock == "-1"){ }}
    <a class="layui-btn layui-btn-warm" lay-event="lock">锁定</a>
    {{#  }else{  }}
    <a class="layui-btn layui-btn-normal" lay-event="cancelLock">解锁</a>
    {{#  } }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript" src="js/timeFormat.js"></script>
<script src="js/md5.js" type="text/javascript"></script>
<script type="text/javascript" src="pagejs/room-list.js"></script>
</html>