<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>视酷后台管理</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
        <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="./js/xadmin.js"></script>
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>
    
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" lay-filter="rule-edit">
                    <div class="layui-form-item">
                        <label for="receiveCount" class="layui-form-label">
                            <span class="x-red">*</span>包数</label>
                        <div class="layui-input-inline">
                            <select id="receiveCount" name="receiveCount" lay-filter="receiveCount" lay-verify="receiveCount" autocomplete="off">
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>请选择包数</div></div>
                    <div class="layui-form-item">
                        <label for="bombCount" class="layui-form-label">
                            <span class="x-red">*</span>雷数</label>
                        <div class="layui-input-inline">
                            <select id="bombCount" name="bombCount" lay-filter="bombCount" lay-verify="bombCount" autocomplete="off">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>请选择雷数</div></div>
                    <div class="layui-form-item">
                        <label for="chance" class="layui-form-label">
                            <span class="x-red">*</span>赔率</label>
                        <div class="layui-input-inline">
                            <input type="text" id="chance" name="chance" required="" lay-verify="chance" autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>请填写赔率
                        </div>
                    </div>
                    <input th:hidden="true" type="text" th:value="${id}" id="id" name="id">
                    <div class="layui-form-item">
                        <label for="chance" class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="edit" lay-submit="">保存</button></div>
                </form>
            </div>
        </div>
    </body>

    <script type="text/javascript" src="pagejs/room-game-rule-edit.js"></script>
    <script src="js/md5.js" type="text/javascript"></script>
</html>